{% extends 'base/base.html' %}

{% load static %}

{% block title %}
Bienes | Servicios
{% endblock %}
 
{% block menu %}
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">SISTEMA INTEGRAL DE COMPRAS </div>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="list-group list-group-flush ">
      <a href="{% url 'listado_bienes' %}" class="list-group-item list-group-item-action bg-light"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-ui-radios" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zM0 12a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm7-1.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
        <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zM3 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm0 4.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg> Bienes/Servicios</a>
      <a href="{% url 'bienes_adjudicados' %}" class="list-group-item list-group-item-action bg-light"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-ui-checks" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
        <path fill-rule="evenodd" d="M2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H2zm.854-3.646l2-2a.5.5 0 1 0-.708-.708L2.5 4.293l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0zm0 8l2-2a.5.5 0 0 0-.708-.708L2.5 12.293l-.646-.647a.5.5 0 0 0-.708.708l1 1a.5.5 0 0 0 .708 0z"/>
        <path d="M7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
        <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
        </svg> Bienes/Servicios Adjudicados y Validados</a>
      <a href="{% url 'listado_requisiciones' %}" class="list-group-item list-group-item-action bg-light"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg> Consulta de Requisiciones</a>
      <a href="{% url 'asignar_permisos' %}" class="list-group-item list-group-item-action bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
        <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
        <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
      </svg> Asignar Permisos</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <a class= "navbar-toggler-collapse" id="menu-toggle">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
        </svg></a>
      <a class= "navbar-brand"><img src="{% static 'img/sicutec.png' %}" height="35px" width="auto" alt=""></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'administrador_index' %}">Home <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-grid" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
            </svg><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}?next={% url 'login' %}">Cerrar Sesión <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-box-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
              <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg></a>
          </li>
          <li class="nav-item dropdown">
            <!--
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}?next={% url 'login' %}">Cerrar sesion</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h1 class="text-center">ELIMINACIÓN BIENES/SERVICIOS</h1>
    <!--
    <div class="p-1 mb-1 bg-info text-white text-center">USUARIO</div>
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="form-group">
                <label for="{{form.nombre_responsable.name}}">{{form.nombre_responsable.label}}:</label>
                <fieldset disabled="disabled">
                  {{form.nombre_responsable}}
                </fieldset>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-6">
            <div class="form-group">
                <label for="{{form.area_solicitante.name}}">{{form.area_solicitante.label}}:</label>
                <fieldset disabled="disabled">
                  {{form.area_solicitante}}
                </fieldset>
            </div>
        </div>
    </div>
    -->

    <div class="p-1 mb-1 bg-success text-white text-center">ALINEACIÓN PIDE</div>
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <div class="form-group">
                    <label for="{{form.eje_pide.name}}">{{form.eje_pide.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.eje_pide}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-6">
                <div class="form-group">
                    <label for="{{form.estrategia_pide.name}}">{{form.estrategia_pide.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.estrategia_pide}}
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="p-1 mb-1 bg-warning text-white text-center">ALINEACIÓN AL POA</div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="{{form.programa_poa.name}}">{{form.programa_poa.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.programa_poa}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="{{form.componente_poa.name}}">{{form.componente_poa.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.componente_poa}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="{{form.proyecto_poa.name}}">{{form.proyecto_poa.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.proyecto_poa}}
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <div class="form-group">
                    <label for="{{form.actividad_poa.name}}">{{form.actividad_poa.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.actividad_poa}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-6">
                <div class="form-group">
                    <label for="{{form.entregable_poa.name}}">{{form.entregable_poa.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.entregable_poa}}
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="p-1 mb-1 bg-danger text-white text-center">BIEN O SERVICIO</div>

        <div class="row">
            <div class="col-md-5 col-md-offset-5">
                <div class="form-group">
                    <label for="{{form.descrip_partida.name}}">{{form.descrip_partida.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.descrip_partida}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.codigo_partida.name}}">{{form.codigo_partida.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.codigo_partida}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.codigo_pestatal.name}}">{{form.codigo_pestatal.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.codigo_pestatal}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.descrip_general_bien.name}}">{{form.descrip_general_bien.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.descrip_general_bien}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.espeficaciones_tecnicas.name}}">{{form.espeficaciones_tecnicas.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.espeficaciones_tecnicas}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.capitulo.name}}">{{form.capitulo.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.capitulo}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.tipo.name}}">{{form.tipo.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.tipo}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.unidad_medida.name}}">{{form.unidad_medida.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.unidad_medida}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cantidad_bienes.name}}">{{form.cantidad_bienes.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cantidad_bienes}}
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.precio_unitario.name}}">{{form.precio_unitario.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.precio_unitario}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.total.name}}">{{form.total.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.total}}
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="p-1 mb-1 bg-primary text-white text-center">FUENTE Y TOTAL ANUAL</div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.ingresos_propios.name}}">{{form.ingresos_propios.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.ingresos_propios}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.recurso_fiscal.name}}">{{form.recurso_fiscal.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.recurso_fiscal}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.recurso_federal.name}}">{{form.recurso_federal.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.recurso_federal}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.presupues_total_anual.name}}">{{form.presupues_total_anual.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.presupues_total_anual}}
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="p-1 mb-1 bg-warning text-white text-center">CALENDARIZADO ANUAL</div>

        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_enero.name}}">{{form.cal_enero.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_enero}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_febrero.name}}">{{form.cal_febrero.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_febrero}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_marzo.name}}">{{form.cal_marzo.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_marzo}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_abril.name}}">{{form.cal_abril.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_abril}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_mayo.name}}">{{form.cal_mayo.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_mayo}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_junio.name}}">{{form.cal_junio.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_junio}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_julio.name}}">{{form.cal_julio.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_julio}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_agosto.name}}">{{form.cal_agosto.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_agosto}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_septiembre.name}}">{{form.cal_septiembre.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_septiembre}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_octubre.name}}">{{form.cal_octubre.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_octubre}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_noviembre.name}}">{{form.cal_noviembre.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_noviembre}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.cal_diciembre.name}}">{{form.cal_diciembre.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.cal_diciembre}}
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.status.name}}">{{form.status.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.status}}
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="p-1 mb-1 bg-secondary text-white text-center">MODALIDAD DE ADJUDICACIÓN</div>

        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.licitacion_publica.name}}">{{form.licitacion_publica.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.licitacion_publica}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.invitacion_personas.name}}">{{form.invitacion_personas.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.invitacion_personas}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.adjudicacion_directa.name}}">{{form.adjudicacion_directa.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.adjudicacion_directa}}
                    </fieldset>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label for="{{form.partidas_paaays.name}}">{{form.partidas_paaays.label}}:</label>
                    <fieldset disabled="disabled">
                      {{form.partidas_paaays}}
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="form-check">
                <label for="{{form.validacion.name}}">{{form.validacion.label}}:</label>
                <fieldset disabled="disabled">
                  {{form.validacion}}
                </fieldset>
            </div>
      </div>

        <div class="row">
            <div class="col text-center">
                <button class="btn btn-danger" type="submit">Eliminar</button>
            </div>
        </div><br>
</form>
{% endblock%}