{% extends 'base/base.html' %}

{% block title %}
Bienes/Servicios | Verificados
{% endblock %}

{% load static %}

{% block extrastatic %}
{% endblock %}

{% block menu %}
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">SISTEMA INTEGRAL DE COMPRAS </div>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="list-group list-group-flush ">
      <a href="{% url 'listado_bienes' %}" class="list-group-item list-group-item-action bg-light"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-ui-radios" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zM0 12a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm7-1.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
        <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zM3 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm0 4.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
      </svg> Bienes/Servicios</a>
      <a href="{% url 'bienes_adjudicados' %}" class="list-group-item list-group-item-action bg-light"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-ui-checks" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
        <path fill-rule="evenodd" d="M2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H2zm.854-3.646l2-2a.5.5 0 1 0-.708-.708L2.5 4.293l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0zm0 8l2-2a.5.5 0 0 0-.708-.708L2.5 12.293l-.646-.647a.5.5 0 0 0-.708.708l1 1a.5.5 0 0 0 .708 0z"/>
        <path d="M7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
        <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
        </svg> Bienes/Servicios Adjudicados y Validados</a>
      <a href="{% url 'listado_requisiciones' %}" class="list-group-item list-group-item-action bg-light"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg> Consulta de Requisiciones</a>
      <a href="{% url 'asignar_permisos' %}" class="list-group-item list-group-item-action bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
        <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
        <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
      </svg> Asignar Permisos</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <a class= "navbar-toggler-collapse" id="menu-toggle">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 8.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"/>
        </svg></a>
      <a class= "navbar-brand"><img src="{% static 'img/sicutec.png' %}" height="35px" width="auto" alt=""></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'administrador_index' %}">Home <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-grid" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
            </svg><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}?next={% url 'login' %}">Cerrar Sesión <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-box-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
              <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg></a>
          </li>
          <li class="nav-item dropdown">
            <!--
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}?next={% url 'login' %}">Cerrar sesion</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}

{% block content %}
<h1 class="text-center">
  BIENES/SERVICIOS
</h1>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline" method="POST">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" name="buscar" id="buscar" aria-label="Search" value="{{ request.POST.buscar }}">
    <button class="btn btn-success mr-2 my-2 my-sm-0" type="submit">Buscar</button>
    <button class="btn btn-danger my-2 my-sm-0" onclick="document.getElementById('buscar').value = ''" type="submit">Cancelar</button>
  </form>
</nav>


  <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm"> <!--puede ser table-striped-->
            <thead class="thead-dark">
                <tr>
                  <th class="text-center" colspan="2">Alineación PIDE</th>
                  <th class="text-center" colspan="5">Alineación al POA</th>
                  <th class="text-center" colspan="2">Información Solicitante</th>
                  <th class="text-center" colspan="12">Bienes y Servicios</th>
                  <th class="text-center" colspan="4">Fuente y total anual</th>
                  <th class="text-center" colspan="4">Modalidad de adjudicación</th>
                  <th class="text-center" colspan="12">Calendarizado Anual</th>
                  <th class="text-center" colspan="2">Información Bien/Servicio</th>
                  <th class="text-center" colspan="3">Acciones</th>
                </tr>
            </thead>
            <thead class="thead-light">
              <tr>
                  <th class="text-center">Eje</th>
                  <th class="text-center">Estrategia</th>
                  <th class="text-center">Programa</th>
                  <th class="text-center">Componente</th>
                  <th class="text-center">Proyecto</th>
                  <th class="text-center">Actividad</th>
                  <th class="text-center">Entregable</th>
                  <th class="text-center">Solicitante</th>
                  <th class="text-center">Área Solicitante</th>
                  <th class="text-center">ID</th>
                  <th class="text-center">Descripción Partida</th>
                  <th class="text-center">Partida</th>
                  <th class="text-center">Partida Estatal</th>
                  <th class="text-center">Descripción general</th>
                  <th class="text-center">Especificaciones Tecnicas</th>
                  <th class="text-center">Capítulo</th>
                  <th class="text-center">Bien/Servicio</th>
                  <th class="text-center">Unidad de Medida</th>
                  <th class="text-center">Cantidad Bienes</th>
                  <th class="text-center">Precio Unitario</th>
                  <th class="text-center">Total</th>
                  <th class="text-center">Ingresos Propios</th>
                  <th class="text-center">Recurso Fiscal</th>
                  <th class="text-center">Recurso Federal</th>
                  <th class="text-center">Presupuesto Total Anual</th>
                  <th class="text-center">Licitación Publica</th>
                  <th class="text-center">Invitación a cuando menos tres personas</th>
                  <th class="text-center">Adjudicación Directa</th>
                  <th class="text-center">Partidas PAAAyS</th>
                  <th class="text-center">Enero</th>
                  <th class="text-center">Febrero</th>
                  <th class="text-center">Marzo</th>
                  <th class="text-center">Abril</th>
                  <th class="text-center">Mayo</th>
                  <th class="text-center">Junio</th>
                  <th class="text-center">Julio</th>
                  <th class="text-center">Agosto</th>
                  <th class="text-center">Septiembre</th>
                  <th class="text-center">Octubre</th>
                  <th class="text-center">Noviembre</th>
                  <th class="text-center">Diciembre</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Fecha Solicitud</th>
                  <th class="text-center">Adjudicar</th>
                  <th class="text-center">Actualizar</th>
                  <th class="text-center">Eliminar</th>
              </tr>
          </thead>
          <tbody>
              {% if bienes %}
              {% for bien in bienes %}
              <tr>
                  <td>{{ bien.eje_pide }}</td>
                  <td>{{ bien.estrategia_pide }}</td>
                  <td>{{ bien.programa_poa }}</td>
                  <td>{{ bien.componente_poa }}</td>
                  <td>{{ bien.proyecto_poa }}</td>
                  <td>{{ bien.actividad_poa }}</td>
                  <td>{{ bien.entregable_poa }}</td>
                  <td>{{ bien.nombre_responsable }}</td>
                  <td>{{ bien.area_solicitante }}</td>
                  <td>{{ bien.id }}</td>
                  <td>{{ bien.descrip_partida }}</td>
                  <td>{{ bien.codigo_partida }}</td>
                  <td>{{ bien.codigo_pestatal }}</td>
                  <td>{{ bien.descrip_general_bien }}</td>
                  <td>{{ bien.especificaciones_tecnicas }}</td>
                  <td>{{ bien.capitulo }}</td>
                  <td>{{ bien.tipo }}</td>
                  <td>{{ bien.unidad_medida }}</td>
                  <td>{{ bien.cantidad_bienes }}</td>
                  <td>{{ bien.precio_unitario }}</td>
                  <td>{{ bien.total }}</td>
                  <td>{{ bien.ingresos_propios }}</td>
                  <td>{{ bien.recurso_fiscal }}</td>
                  <td>{{ bien.recurso_federal }}</td>
                  <td>{{ bien.presupues_total_anual }}</td>
                  <td>{{ bien.licitacion_publica }}</td>
                  <td>{{ bien.invitacion_personas }}</td>
                  <td>{{ bien.adjudicacion_directa }}</td>
                  <td>{{ bien.partidas_paaays }}</td>
                  <td>{{ bien.cal_enero }}</td>
                  <td>{{ bien.cal_febrero }}</td>
                  <td>{{ bien.cal_marzo }}</td>
                  <td>{{ bien.cal_abril }}</td>
                  <td>{{ bien.cal_mayo }}</td>
                  <td>{{ bien.cal_junio }}</td>
                  <td>{{ bien.cal_julio }}</td>
                  <td>{{ bien.cal_agosto }}</td>
                  <td>{{ bien.cal_septiembre }}</td>
                  <td>{{ bien.cal_octubre }}</td>
                  <td>{{ bien.cal_noviembre }}</td>
                  <td>{{ bien.cal_diciembre }}</td>
                  <td>{{ bien.status }}</td>
                  <td>{{ bien.fecha_solicitud }}</td>
                  <td>
                      <a class="btn btn-success" href="{% url 'adjudicion_bienes' bien.id %}">Adjudicar</a>
                  </td>
                  <td>
                    <a class="btn btn-warning" href="{% url 'actualizacion_bienes' bien.id %}">Actualizar</a>
                  </td>
                  <td>
                    <a class="btn btn-danger" href="{% url 'eliminacion_bienes' bien.id %}">Eliminar</a>
                  </td>
              </tr>
              {% endfor %}
              
              {% else %}
              <h1>No hay registros de bienes</h1>
              {% endif %}
          </tbody>
      </table>
  </div>
{% endblock %}
